# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build
on:
  workflow_call:
    secrets:
      github-token:
        description: |
          The token to use for making authenticated requests to GitHub APIs.
        required: true
    inputs:
      git-reference:
        description: |
          The Git reference to build.
        type: string
        required: false
        default: ${{github.sha || github.ref || github.event.repository.default_branch}}
      upload-artifacts:
        description: |
          Whether to upload build artifacts.

          Defaults to "true".
        type: boolean
        required: false
        default: true
      artifact-retention-days:
        description: |
          The time, in days, to retain artifacts for.

          Set to "0" to default to the repository configuration.

          Defaults to "0".
        type: number
        required: false
        default: 0
    outputs:
      artifact-id:
        description: |
          The ID of the artifact generated by this workflow.
        value: ${{jobs.build.outputs.artifact-id}}
      artifact-name:
        description: |
          The name of the artifact generated by this workflow.
        value: ${{jobs.build.outputs.artifact-name}}
      artifact-url:
        description: |
          The URL of the artifact generated by this workflow.
        value: ${{jobs.build.outputs.artifact-name}}
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      # -- Needed to checkout the repository
      contents: read
    outputs:
      artifact-id: ${{steps.upload-artifacts.outputs.artifact-id}}
      artifact-name: github-pages
      artifact-url: ${{steps.upload-artifacts.outputs.artifact-url}}
    steps:
      - id: checkout-repository
        name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{inputs.git-reference}}
          lfs: true
          token: ${{secrets.github-token || secrets.GITHUB_TOKEN}}
      - id: generate-github-pages-distribution-folder
        name: Generate GitHub Pages distribution folder
        shell: bash
        env:
          SRC: ${{github.workspace}}
          DIST: ${{github.workspace}}/pages-dist/
        run: |
          mkdir -p ${DIST} && \
          cp -r ${SRC}/css/ ${SRC}/js/ ${SRC}/aspects/ index.html CNAME ${DIST};
      - id: upload-artifacts
        name: Upload GitHub Pages artifacts
        if: inputs.upload-artifacts
        uses: actions/upload-artifact@v6
        with:
          name: github-pages
          path: ./pages-dist/
          if-no-files-found: error
          compression-level: 0
          retention-days: ${{inputs.artifact-retention-days}}
